.jackpotGameContainer{

    min-width: 100%;
    min-height: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;


}

.jackpotGameCountdown {

    display: flex;
    flex-direction: row;
    /* background-color: red; */
    margin: 0 2.2em;
    min-height: 40%;
    text-align: center;
}

.jackpotGameActive {
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.jackpotDepositContainer {
    background-color: #C4C4C4;
    min-height: 17%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.jackpotDepositInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    margin-left: 2%;
    flex-grow: 1;
}

.jackpotDepositInfoBigText {
    margin: 0;
    font-family: "Basic";
    font-size: 1.8vh;
    
}

.jackpotDepositInfoSmallText {
    margin: 0;
    font-family: "Basic";
    font-size: 1.6vh
}

.jackpotItemsContainer {
    background-color: #2C2C2C;
    min-height: 27%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 2;
    overflow-y: auto;
}

.jackpotRoundInfoContainer {
    min-height: 15%;
    background-color: #0477A9;
    border-radius: 25px;
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: auto;
}

@media screen and (max-width: 1000px) {
    
    .jackpotContainer { border-radius: 30px; }

    .jackpotGameCountdown { margin: 0 10%; }

    .jackpotDepositContainer { flex-direction: column; min-height: 33% }
    .jackpotDepositInfo { margin-top: 5%; }

}

@media screen and (max-aspect-ratio: 1/1) {
    .jackpotGameCountdown { min-height: 25%; }
    
}
