.jackpotGameContainer{

    min-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;


}

.jackpotGameCountdown {

    display: flex;
    flex-direction: row;
    /* background-color: red; */
    margin: 0 2.2em;

    min-height: 40%;
    text-align: center;
}

.jackpotGameCountdownContainer {
    height: 100%;
    width: 20%;
    margin-left: 1%;
    display: flex;
    justify-content: space-between

}

.countdownTimeContainer {
    height: 100%;
    width: 42%;
    background: #005585;
    border-radius: 2px;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Fira Sans";
    font-size: 5vh;
    color: white
}

.jackpotDepositContainer {
    background-color: #C4C4C4;
    min-height: 17%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.jackpotDepositInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    margin-left: 2%;
    flex-grow: 1;
}

.jackpotDepositInfoBigText {
    margin: 0;
    font-family: "Basic";
    font-size: 1.8vh;
    
}

.jackpotDepositInfoSmallText {
    margin: 0;
    font-family: "Basic";
    font-size: 1.6vh
}

.jackpotItemsContainer {
    min-height: 27%;
}

.jackpotRoundInfoContainer {
    min-height: 15%;
    background-color: #0477A9;
    border-radius: 25px;
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

@media screen and (max-width: 1000px) {
    
    .jackpotContainer { border-radius: 30px; }

    .jackpotGameCountdown { margin: 0 10%; }
    .jackpotGameCountdownContainer { width: 35% }
    .countdownTimeContainer { font-size: 4vh; }

    .jackpotDepositContainer { flex-direction: column; min-height: 33% }
    .jackpotDepositInfo { margin-top: 5%; }

}

@media screen and (max-aspect-ratio: 1/1) {
    .jackpotGameCountdown { min-height: 25%; }
    
}
