.jackpotContainer{

    min-width: 75%;

    background-color: #1C2226;
    border-radius: 25px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.screen {
    display: flex;
    flex-direction: row;

}
.screenText {
    
    font-family: "Basic";
    font-size: 1.2em;
    cursor: pointer;
    user-select: none;
    color: white;
    margin-left: 2em;
}

@media screen and (max-width: 1000px) {
    
    .jackpotContainer {
        width: 100%;
        border-radius: 30px;
    }
}