.participantsContainer{
    margin-top: auto;
    min-width: 75%;

    background-color: #1C2226;
    border-radius: 25px;
    height: 54%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
}

.jackpotParticipantsList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
    overflow: auto;
}

.jackpotParticipantsTop {
    background: #0F161B;
    border-radius: 24px 24px 0px 0px;
    min-height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    font-family: "Fira Sans";
    font-size: 2rem;
    user-select: none;
}

.jackpotParticipantsBot {
    background: #0F161B;
    border-radius: 0px 0px 24px 24px;
    min-height: 15%;
    margin-top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: white;
    font-family: "Fira Sans";
    font-size: 1rem;
    user-select: none;
}
