  .bm-burger-button {
      display: none;

  }

  /* Color/shape of close button cross */
  .bm-cross {
    display: none;
  }
  
  /*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
  .bm-menu-wrap {
    position: fixed;
    height: 100%;
    background-color: black;
  }
  
  /* General sidebar styles */
  .bm-menu {
    background: #171717;
    font-size: 1.15em;

    box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.75);
    position: absolute;
  }

  
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #373a47;
  }
  

  /* Individual item */
  .bm-item {
    display: inline-block;
  }

  .bm-item-list {
    display: flex;
    flex-direction: column;
  }
