.mainContainer{
    margin: auto;
    width: 80%;
    /* border: 3px solid green; */
    height: 87%;
    margin-top: 1%;

    /* turn on margin and off center for left align */
    /* margin-left: 2%; */
    align-self: center;

    /* position: absolute; */
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
    
}

.infoContainer {
    width: 22%;
    /* background-color: #1C2226; */
    border-radius: 25px;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 1.5%;
    justify-content: space-between;
}

@media screen and (max-width: 1000px) {
    
    .mainContainer {
        width: 95%;
    }
}

