.mainContainer{
    margin: auto;
    width: 75%;
    /* border: 3px solid green; */
    height: 87%;
    margin-top: 2%;
    margin-left: 2%;
    /* position: absolute; */
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
}

@media screen and (max-width: 1000px) {
    
    .mainContainer {
        width: 95%;
    }
}

