.participantContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 6vh;
    height: 6vh;
    width: 100%;
    align-items: center;
    margin-top: 0;
    
}

.userInfoImage {
    background-color: #212121;
    height: 100%;
    width: auto;

}


.participantUsername {
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 0;
    font-family: "Basic";
    font-style: normal;
    color: white;
    margin-right: auto;
    margin-left: 0.5vw;
}

.participantPercentage {
    font-size: 1.6em;
    margin-top: 0;
    margin-bottom: 0;
    font-family: "Fira Sans";
    font-style: normal;
    font-weight: 600;
    color: white;
    margin-right: 5%;
    margin-left: 0;
}

@media screen and (max-width: 1000px) {
    .sideBarUserContainer {
      height: 15%;
      width: 100%;
      margin: 2em 1em 0;
    }

    .userInfoUsername {
        font-size: 1.2em;
        margin-top: 0;
        margin-bottom: 0;
    }
    
    .gamesWonText {
        font-size: 0.8em;
        margin-top: 0;
    }


}
  