.depositItemsContainer {
    display: flex;
    flex-direction: row;
    align-self: center;
    flex-wrap: wrap;
    width: 80%;
    margin-top: 2%;
    
    overflow-x: hidden;
    overflow-y: auto;
}


@media screen and (max-width: 1000px) {
    /* .modalButtonContainer {
        flex-direction: column;
    } */
}