.jackpotItem {
    background: linear-gradient(0deg, #171717, #171717), #171717;

    border-radius: 6px;
    width: 5vw;
    height: 7rem;
    display: flex;
    flex-direction: column;

    margin: 1.5% 1.75%;

}

.jackpotItemPrice {

    color: #52BA00;
    text-align: center;
    font-family: "Fira Sans";
    font-weight: 600;
    font-size: 1.4vh;
    margin-top: auto;

}

@media screen and (min-width: 2560px) {
    .jackpotItem {
        width: 6vw;
        height: 50%;
    }
}

@media screen and (max-width: 1000px) and (max-height: 800px) {
    .jackpotItem {
        width: 20%;
        height: 60%;
        margin: 2% 2.5%;
        box-shadow: 0px 1px 9px rgba(255, 215, 0, 0.75), 0px 2px 2px #00000040;
    }
    
    .jackpotItemPrice {
        font-size: 1.7vh
    }
}

@media screen and (max-width: 1024px) and (min-height: 800px) {
    .jackpotItem {
        width: 17vw;
        height: 50%;
    }
    
    .jackpotItemPrice {
        font-size: 1.1vh
    }
}