html, body, #root {
  height: 100%
}

body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1f1f1f
}

#root > div {
  height: 100%;
}

