.TOS {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

.TOS > h1 {
    color: #808080;
    font-family: 'Basic';
    margin-left: 1%;
}

.TOS > p {
    color: #808080;
    font-family: 'Basic';
    margin-left: 1%;
}