.jackpotPlayers {
    height: 10vh;
    width: 100%;

    overflow: hidden;
}

.jackpotPlayersList {
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: row;
    transition: all 8000ms cubic-bezier(.45,.05,.12,1) -3870ms;
    transition-delay: 50ms
}


.jackpotUserImage {
    height: 100%;
    width: auto;
    margin-right: 1%;
    background-color: #212121;
    user-select: none;
}
