.modalInputContainer {
    width: 80%;
    align-self: center;
    min-height: 7%;
}

.modalInput{
    width: 100%;
    height: 100%;
    border: 2px solid #FFFFFF;
    background: 0;
    border-radius: 20px;
    text-indent: 2%;
    font-family: "Basic";
    color: #FFFFFF;
}

.roblosecurityInput::placeholder {
    color: #A19C9C;
    
}

.modalError {
    width: 100%;
    background-color: #7c3608;
    margin-bottom: 2%;
    min-height: 6%;
    font-family: "Basic";
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    
}