.headerContainer {
    background-color: #2C2C2C;
    height: 10%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5% 2% 0% 2%
    
}

.logo {
    align-self: center
}

.button {
    outline: none;
}


@media screen and (max-width: 500px) {
    .logo{
        height: 70%
    }
}

